@use "_base/style";

body {
    height: 100vh;
}
.backdrop {
    width: 100vw;
    height: 100vh;    
    background-color: rgba(12,15,19,.9);
    opacity: 0.9;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 100;
    overflow: auto;        
    .close {
        position: fixed;
        color: #949c9c;
        font-size: 3rem;
        cursor: pointer;
        top: 0.2rem;
        left: 1.2rem;
        font-size: 2.5rem;
        transition: all 0.2s ease-in-out;

        &:hover {
            color: white;
        }
    
    }
    .backward {
        position: fixed;
        top: 50%;
        left: 1rem;
        z-index: 2;
        cursor: pointer;
        &:hover {
            svg {
                fill: white;
                transform: scale(1.1);
            }
        }
        svg {
            width: 3rem;
            height: 3rem;
            fill: #9ea5a5;
            transition: all 0.2s ease-in-out;
        }
    }
    .forward {
        position: fixed;
        top: 50%;
        right: 2rem;
        z-index: 2;
        cursor: pointer;
        &:hover {
            svg {
                fill: white;
                transform: scale(1.1);
            }
        }
        svg {
            width: 3rem;
            height: 3rem;
            fill: #9ea5a5;
            transition: all 0.2s ease-in-out;
        }
    }
    .modal {
        z-index: 1;
        width: 85%;
        // height: 50vh;
        position: absolute;
        border-radius: 10px;
        top: 2rem;
        right: 0;
        left: 0;
        margin: auto;
        background-color: white;        
        min-height: 100vh;
    }    
}
.text {
    color: red;
}